
#about {
    padding: 120px 0;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fffffe;
}

#about .about-title {
    color: #525363;
    font-size: 37px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.about-title span {
    color: #00A78E;
}

.about-text {
    color: #525363;
    font-size: 18px;
    margin: 25px auto 0;
    text-align: center;
    font-family: 'Ubuntu',  sans-serif;
    line-height: 27px;
    max-width: 650px;    
    font-weight: 550;
}


#about .container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1300px;
    height: 720px;
    margin: 70px auto 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 17px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#about .container .right {
    background-color: #fffefb;
    padding: 40px 70px;
    width: 55%;
    text-align: left;
    height: 100%;
}


.right h2 {
    text-align: left;
    font-size: 29px;
    line-height: 40px;
    color: #525363;
    font-family: 'Ubuntu', sans-serif;
}

.right h2 span {
    color: #00A78E;
}

.right .description {
    margin-top: 20px;
    font-size: 17px;
    line-height: 27px;
    max-width: 560px;
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
}


.right .experience {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    gap: 10px;
}

.experience .tab {
    background-color: #39455e;
    color: #fffefb;
    padding: 22px 26px;
    width: 170px;
    border-radius: 12px;
    text-align: center;
    cursor: default;
    border-bottom: 15px solid #47b69e;

}

.experience .tab .icon {
    color: #fffefb;
    font-size: 25px;
}

.experience .tab h3 {
    margin-top: 13px;
    font-size: 35px;
    color: #fffefb;
}

.experience .tab p {
    margin-top: 10px;
    line-height: 22px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}





#about .container .left {
    width: 45%; 
    height: 100%;
}

#about .container .left .myProfile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*


@keyframes animateAbout {
    0% , 100% {
        transform: translateY(0px);

    }50% {
        transform: translateY(7px);
    }
}




.container .left .action {
    margin: 80px 0 0;
}

.action a {
    padding: 13px 27px;
    border: 2px solid #00c3ca;
    color: #F5F5F5;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    border-radius: 33px;
    background-color: #00c3ca;
    transition: 300ms ease;
}

.action a:hover {
    background-color: black;
    color: white;
    border: 2px solid #000;
}






#about .container .right {
    max-width: 560px;
    text-align: left;
} 

.right h2 {
    text-align: left;
    font-size: 29px;
    line-height: 40px;
    color: #646f87;
    font-family: 'Ubuntu', sans-serif;
}

.right h2 span {
    color: #14d6d6;
}

.right .description {
    margin-top: 20px;
    font-size: 17px;
    line-height: 26px;
    max-width: 560px;
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
}


.right .experience {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.experience .tab {
    background-color: #151a3b;
    color: #F5F5F5;
    padding: 25px 20px;
    width: 180px;
    border-radius: 15px;
    text-align: center;
    cursor: default;
}

.experience .tab .icon {
    color: #14d6d6;
    font-size: 30px;
}

.experience .tab h3 {
    margin-top: 10px;
    font-size: 26px;
    color: #14d6d6;
}

.experience .tab p {
    margin-top: 8px;
    line-height: 24px;
    font-size: 17px;
    font-weight: 500;
}

*/







@media screen and (max-width: 1450px) {

    #about .about-title {
        font-size: 34px;
    }

    .about-text {
        font-size: 17px;
        margin: 18px auto 0;
        line-height: 25px;
        max-width: 600px;
    }

    #about .container {
        margin: 60px auto 0;
        max-width: 1000px;
        height: 670px;
    }





    /* for right content */
    #about .container .right {
        padding: 30px 40px;
    }

    .right h2 {
        font-size: 25px;
        line-height: 34px;
    }

    .right .description {
        margin-top: 18px;
        font-size: 15px;
        line-height: 25px;
        max-width: 520px;
    }

    .right .experience {
        margin-top: 45px;
    }

    .experience .tab {
        width: 150px;
        padding: 20px 23px ;
        border-bottom: 13px solid #47b69e;
    }

    .experience .tab .icon {
        font-size: 22px;
    }

    .experience .tab h3 {
        margin-top: 10px;
        font-size: 32px;
    }

    .experience .tab p {
        font-size: 14px;
        line-height: 21px;
    }
}