

#contact {
    padding: 40px 0 170px;
    margin: 100px auto 0;
    height: 100%;
    max-width: 900px;
}


#contact .contact-title {
    color: #c9c9c9;
    font-size: 37px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.contact-title span {
    color: #00A78E;
}

#contact .contact-text {
    color: #525363;
    font-size: 18px;
    margin: 25px auto 0;
    text-align: center;
    font-family: 'Ubuntu',  sans-serif;
    line-height: 27px;
    max-width: 650px;
    
}


#contact .container {
    margin-top: 60px;   
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #00A78E;
    padding: 90px;
    border-radius: 9px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container .formdiv{
    margin-left: 20px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    user-select: none;
}


.divBox {
    display: flex;
    flex-direction: row;
}



.divBox .inputBox {
    position: relative;
    display: flex;
    flex-direction: row; 
    flex-grow: 1;
}



.formdiv form .divBox:last-child {
    margin-top: 20px;
}


form .inputBox input , form .inputBox textarea{
    position: relative;
    background: #fff;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    color: #000;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 500;
    resize: none;
    border-radius: 2px; 
    padding: 0 22px;
    margin: 6px;
    transition: all 300ms;
}

form .inputBox textarea{ 
    margin-top: 16px;
    height: 240px;
    padding: 18px 22px;
}


form .inputBox.btn {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 40px;
    margin-right: 3px; 
}

form .inputBox.btn button{
    padding: 13px 26px;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    background-color: transparent;
    transition: 300ms ease;
}

form .inputBox.btn button:hover{
    background-color: #000;
    border: 1px solid #000;
}

form .inputBox.btn button:active{
    background-color: transparent;
    color: #00A78E;
    border: 1px solid #00A78E;
}



.inputBox input:focus,
.inputBox textarea:focus,
.inputBox input:valid, 
.inputBox textarea:valid {
    background-color: #fffdf8;
}


::placeholder {
    color:#74768a;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}






.contactList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 6px;
    text-align: center;
}


.list {
    background-color: #fff;
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    width: 185px;
    height: 180px;
    border-radius: 8px;
}


.list .icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 52px;
    color: #fff;
    font-size: 22px;
    border-radius: 50%;
    background-color: #00A78E;
    transition: 300ms;
}


.list .info h2 {
    color: #525363;
    font-size: 16px;
    font-weight: 500;
    margin: 25px 0 7px;
    font-family: 'Ubuntu', sans-serif;
}

.list .info a {
    font-size: 15px;
    text-decoration: none;
    color: #525363;
    transition: 250ms;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}

.list .info a:hover {
    color: #00A78E;
}


.list .icon a i {
    transition: 700ms ease; 
}

.list .icon a:hover > i{
    transform: rotateY(180deg);
}








.popup {
    background: #fff;
    width: 440px;
    height: 320px;
    border-radius: 6px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    visibility: hidden;
    padding: 0 30px;
    box-shadow: 0 7px 30px rgba(52, 31, 97, 0.3);
    transition: transform 200ms, top 200ms;
    z-index: 100;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}




.popup img {
    height: 100px;
    border-radius: 50%;
    margin-top: -50px;
}

.popup h2 {
    font-size: 35px;
    margin-top: 25px;
    color: #00A78E;
    font-family: 'Ubuntu', sans-serif;
    cursor: default;
}

.popup p {
    color: #3d3d3d;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 24px;
    margin-top: 20px;
    cursor: default;
}

.popup button {
    width: 100%;
    padding: 0 10px;
    height: 50px;
    margin-top: 30px;
    border: none;
    outline: none;
    border-radius: 4px;
    color: white;
    font-size: 19px;
    font-weight: 500;
    background-color: #21DACB;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    transition: 300ms ease;
}

.popup button:hover {
    background-color: #05ccbb;
}








@media screen and (max-width: 1450px) {

    #contact .contact-title {
        font-size: 34px;
    }

    #contact .contact-text {
        font-size: 17px;
        margin: 18px auto 0;
        line-height: 25px;
        max-width: 600px;
    }


    .container .formdiv {
        margin-left: 25px;
        max-width: 560px;
    }

    .formdiv form .divBox:last-child {
        margin-top: 15px;
    }


    form .inputBox input , form .inputBox textarea{
        height: 50px;
        font-size: 14px;
        padding: 0 20px;
        margin: 8px;
    }

    form .inputBox textarea{
        height: 215px;
        padding: 16px 20px;
    }


    form .inputBox.btn {
        margin-top: 30px;
    }

    form .inputBox.btn button{
        padding: 12px 20px;
        font-size: 14px;
    }

    ::placeholder {
        font-size: 14px;
    }



    .contactList {
        gap: 15px;
        margin-top: 10px;
    }


    .list {
        width: 190px;
        height: 165px;
    }


    .list .icon a {
        height: 50px;
        width: 50px;
        font-size: 23px;
    }


    .list .info h2 {
        font-size: 17px;
        margin: 15px 0 10px;
    }

    .list .info a {
        font-size: 15px;
    }
}



























@media screen and  (max-width: 1000px)  {
    /* .container .imgBox{
        display: none;
    } */

    .container .imgBox img{
        width: 118%;
    }

    form .inputBox.btn button {
        font-size: 14px;
        padding: 10px 18px;
    }
}



@media screen and  (max-width: 850px)  {

    #contact{
        margin-top: 0;
        min-height: 620px;
        background-color: transparent;
        box-shadow: none;
    }

    #contact .container {
        width: 60%;
    }
    
    #contact:before{
        background-color: transparent;
    }

    .container .imgBox{
        display: none;
    }

    .container .formdiv{
        width: 98%;
    }
    
    .container .formdiv form{
        width: 100%;
        margin: 0 auto;
    }
    
    
    .container .formdiv form h2{
        font-size: 28px;
    }
    
    
    
    form .inputBox input , form .inputBox textarea{
        font-size: 14px;
    }
    
    
    form .inputBox span{
        font-size: 14px;
    }
    
    
    .inputBox input:focus ~ span,
    .inputBox textarea:focus ~ span,
    .inputBox textarea:valid ~ span,
    .inputBox input:valid ~ span {
        transform: translateY(-30px);
        font-size: 12px;
    }

}




@media screen and  (max-width: 720px)  {

    #contact{
        min-height: 600px;
    }
    
    .container .formdiv form {
        padding: 0 0 0 18%;
    }

    .container .formdiv form h2{
        font-size: 26px;
    }
    
    
    form .inputBox.btn button{
        padding: 11px 17px;
        font-size: 13px;
        width: 80%;
    }

    form .inputBox span {
        font-size: 13px;
        left: 18%;
    }


}


@media screen and  (max-width: 600px)  {

    #contact .container {
        height: 540px;
    }

    #contact .container {
        width: 80%;
    }

    .container .formdiv form h2{
        font-size: 25px;
    }

    form .inputBox span {
        font-size: 13px;
    }
}


@media screen and (max-width: 540px ) {

    #contact .container {
        width: 85%;
    }
    
    .container .formdiv form{
        padding: 0 0 0 15%;
    }
    
    
    .container .formdiv form h2{
        font-size: 23px;
    }

    form .inputBox input , form .inputBox textarea {
        width: 85%;
    }

    form .inputBox span{
        left: 15%;
        font-size: 12px;
    }
    
    
    form .inputBox.btn button{
        padding: 10px 16px;
        font-size: 13px;
        width: 85%;
    }

}




@media screen and (max-width: 425px) {

    #contact {
        min-height: 540px;
    }

    #contact .container {
        width: 93%;
        height: 510px;
    }

    .container .formdiv{
        width: 100%;
    }

    .container .formdiv form{
        padding: 0 0 0 11%;
    }

    .container .formdiv form h2{
        font-size: 21px;
    }


    .formdiv form .inputBox:not(:last-child){
        margin-bottom: 50px;
    }
    
    form .inputBox input , form .inputBox textarea{
        font-size: 14px;
        width: 88%;
        padding-bottom: 6px;
    }

    form .inputBox textarea{
        height: 87px;
    }

    form .inputBox.btn button{
        width: 88%;
    }

    form .inputBox span{
        left: 11%;
    }

    .inputBox input:focus ~ span,
    .inputBox textarea:focus ~ span,
    .inputBox textarea:valid ~ span,
    .inputBox input:valid ~ span {
        transform: translateY(-18px);
    }


    .popup {
        width: 280px;
        height: 210px;
        padding: 0 10px;
    }

    .popup img {
        height: 60px;
        margin-top: -33px;
    }

    .popup h2 {
        font-size: 21px;
        margin-top: 10px;
    }

    .popup p {
        font-size: 13px;
        font-weight: 500;
        line-height: 22px;
        margin-top: 10px;
    }

    .popup button {
        height: 40px;
        margin-top: 20px;
        font-size: 15px;
    }



}
