

.error {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 134px;               /* height of header + height of offer , to cover them */
    background-color: #d12c3a;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.error h2 {
    font-family: 'Lato' , sans-serif;
    font-size: 18px;
    max-width: 85%;
    text-align: center;
    color: white;
    line-height: 24px;
}


.error {
    animation: hideAnimation 0s ease-in 6s;
    animation-fill-mode: forwards;
}
  
@keyframes hideAnimation {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}





/* header section */
header{
    width: 100%;
    display: flex;
    position: sticky;
    left: 0;
    z-index: 999;
    background-color: #fffdf8;
    justify-content: space-between;   
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    max-height: 90px;
    transition: all 400ms ease-in-out;
}


header .logo h2 {
    font-size: 40px;
    color: #525363;
    font-family: "Kaushan Script", cursive;
    font-weight: 550;
}

header .logo h2 span {
    font-size: 41px;
    color: #36af95;
    font-family: "Kaushan Script", cursive;
}

header .header-menu  {
    display: flex;
}

.header-menu nav{
    display: block;
    line-height: 120px;
}

nav ul {
    display: flex;
    list-style: none;

}

nav ul li {
    margin: 10px;
}


nav ul li a {
    position: relative;
    color:#525363 ;
    text-decoration: none;
    font-size: 20px;
    padding: 7px 0;
    border-radius: 27px;
    font-weight: 550;
    margin:0 14px;
    transition: 180ms ease-in;
    background: transparent;
    font-family: "Kaushan Script", cursive;
}



nav ul li a:after {
    position: absolute;
    content: "";
    background-color: #00A78E;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: 3px;
    transition: 300ms;
}

nav ul li a:hover:after {
    width: 100%;
}

nav ul li a:hover{
    color: #00A78E;
}

nav ul li a.active {
    color: #00A78E;
    font-weight: 600;
}








/* header .header-menu .language {
    margin-top: 70px;
}

.language .selected-lang {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    line-height: 2;
    width: 100px;
}

.language ul {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    list-style: none;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.language ul li a {
    width: 125px;
    display: block;
    padding: 5px 10px;
} */








.hamburger {
    display: none;
    position: relative;
    z-index: 1;
    user-select: none;
    border: none;
    outline: none;
    appearance: none;
    background: none;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 10px;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #28003D;
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 400ms;
}

.hamburger:hover span:nth-child(2){
    transform: translateX(12px);
    background-color: #FE1675;
}

.hamburger:hover span:nth-child(1) , .hamburger:hover span:nth-child(3){
    transform: translateX(-2px);
}


.hamburger.isActive span:nth-child(1) {
    transform: translate(0,-2px ) rotate(45deg);
    height: 5px;
    /* transition-delay: 100ms; */
}

.hamburger.isActive span:nth-child(2) {
    transform: translateX(110px);
}

.hamburger.isActive span:nth-child(3) {
    transform: translate(-3px,3px ) rotate(-45deg);
    transition-delay: 125ms;
    height: 5px;
}

.hamburger.isActive:hover span {
    background-color: #FE1675   ;
}





footer {
    height: 42px;
    width: 100%;
    background-color: #00A78E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer a {
    font-family: "Kaushan Script", cursive;
    font-size: 17px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
}

footer a .me {
    font-family: "Kaushan Script", cursive;
    transition: 300ms;
}
















@media screen and (max-width: 1450px) {

    .error {
        height: 126px;
    }


    header{ 
        width: 1000px;
    }
    
    header .logo h2{
        font-size: 40px;
    }
    
    
    header nav ul li a {
        font-size: 18px;
    }



    footer a{
        font-size: 18px;
    }
}







@media screen and (max-width: 1350px) {

    .error {
        height: 120px;
    }

    .error h2 {
        font-size: 17px;
    }


    #offre {
        height: 40px;
    }

    #offre a {
        font-weight: 550;
    }

    header{ 
        padding: 20px 150px 20px 140px;
        max-height: 80px;
    }
    
    header .logo img{
        height: 70px;
    }
    
    header nav{
        margin-right: 40px;
    }
    
    
    header nav ul li a {
        font-size: 14px;
        font-weight: 550;
    }


    header .icons #counter {
        width: 19px;
        height: 19px;
        top: -2px;
        right: -10px;
        font-size: 13px;
    }
}



@media screen and (max-width: 1200px) {

    .error {
        height: 115px;
    }

    #offre a{
        font-size: 12px;
    }

    header{ 
        padding: 20px 90px 20px 80px;
        max-height: 75px;
    }

    header .logo img {
        height: 67px;
    }
    
    header nav {
        margin-right: 30px;
    }

    header nav ul li a {
        margin: 0 8px;
    }

}



@media screen and (max-width:1050px) {

    header{ 
        padding: 20px 100px 20px 95px;
        max-height: 75px;
    }

    header .logo img {
        height: 64px;
    }

    header nav {
        margin-right: 25px;
    }

    header nav ul li a {
        margin: 0 6px;
    }
}




@media screen and (max-width: 960px) {

    .error {
        height: 75px;
    }

    .error h2 {
        font-size: 16px;
    }


    header{ 
        padding: 20px 75px 20px 70px;
        max-height: 75px;
    }

    header .logo img {
        height: 60px;
    }

    header nav ul li a {
        font-size: 13px;
    }
}


@media screen and (max-width: 865px) {

    .error {
        height: 68px;
    }

    .error h2 {
        font-size: 14px;
        line-height: 18px;
    }

    header{ 
        padding: 20px 50px;
        max-height: 68px;
        width: 100%;
    }

    header .logo img {
        height: 57px;
    }

    header nav {
        margin-right: 20px;
    }

    header nav ul li a {
        margin: 0 3px;
    }


    header .icons #counter {
        width: 19px;
        height: 19px;
        top: 0;
    }   
}


@media screen and (max-width: 750px) {

    .hamburger {
        display: block;
    }

    /* body  ,html{
        overflow-x: hidden !important;
    } */

    header .navLinks {
        position: absolute;
        background: #fbf6f6ee;
        backdrop-filter: blur(6px);
        width: 100%;
        height: 100%;
        left: -100% ;
        top: 64px;
        z-index: 999;
        text-align: center;
        opacity: 0.8;
    }

    .navLinks.mobileMenu {
        left: 0;
        opacity: 1;
    }



    header nav ul {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    header nav ul li {
        padding-top: 40px;
    }

    header nav ul li:nth-child(3) {
        display: block;
    }


    header nav ul li a {
        font-size: 16px;
        border: none !important;
    }

    header nav ul li:nth-child(1) > a {
        color: #FE1675;
        background: transparent;
    }

    header nav ul li a:hover {
        color: #FE1675;
        background-color: transparent ;
    }


    header .icons {
        display: none;
    }
}


@media screen and (max-width: 700px) {


    header nav ul li a {
        font-size: 15px;
        padding: 7px 12px;
    }
}


@media screen and (max-width: 600px) {

    header{ 
        padding: 20px 25px;
    }
}




@media screen and (max-width: 425px) {

    .error h2 {
        font-size: 13px;
    }

    /* Header */
    header{ 
        padding: 20px 15px;
    }

    header nav ul {
        margin-top: 30px;
    }

    header nav ul li {
        padding-top: 20px;
    }
}