
#portfolio {
    height: 100%;
    padding: 100px 40px ;
    background-color: #fffffe;
}


#portfolio .portfolio-title {
    color: #525363;
    font-size: 37px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.portfolio-title span {
    color: #00A78E;
}

#portfolio .portfolio-text {
    color: #525363;
    font-size: 18px;
    margin: 25px auto 0;
    text-align: center;
    font-family: 'Ubuntu',  sans-serif;
    line-height: 27px;
    max-width: 650px;
    font-weight: 550;
}







/* this is for filtring the blogs */
.project-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-top: 60px;
}

.filter-item {
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
    padding: 8px;
    border-radius: 3px;
    color: #F5F5F5;
    background-color: #838faa;
    text-transform: uppercase;
    border: 1px solid #838faa;
    transition: 400ms ease;
    font-family: 'Ubuntu', sans-serif;
}

.active-filter {
    color: #FFF;
    background-color: #00A78E;
    border: 1px solid #00A78E;
}

.filter-item:hover {
    background-color: #00A78E;
    border: 1px solid #00A78E;
}



/* this is for blogs main page */
.project {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 320px));
    justify-content: center;
    gap: 40px;
    margin: 40px auto;
    width: 1200px; 
}




.project-box {
    background-color: #0c0e22;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    border-radius: 10px;
    height: 280px;
    transition: 400ms ease;
    cursor: default;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.project-box:hover {
    box-shadow: rgba(0, 0, 0, 0.20) 0px 14px 28px, rgba(0, 0, 0, 0.17) 0px 10px 10px;
    transform: translateY(-10px);
}

.project-box.show {
    display: block;
    animation:  projDisplay 700ms ease;
}

.project-box.hide {
    display: none;
}

@keyframes projDisplay{
    0%{
        transform: scale(0.8);
        opacity: 0;
    
    }100%{
        transform: scale(1);
        opacity: 1;
    }
}






.project-preview {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.project-preview .project-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 300ms ease;
}


.project-preview .info-hover {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000000ea;
    z-index: 1;
    height: 100%;
    width: 100%;
    padding: 20px;
    opacity: 0;
    transition: all 300ms ease;
}

.project-preview:hover .info-hover {
    opacity: 1;
}



.info-hover .field {
    font-size: 18px;
    font-weight: 700;
    color: #02bea2;
    font-family: "Kaushan Script", cursive;
    text-transform: capitalize;
    transform: translateX(-25px);
    transition: all 0.3s ease;
    opacity: 0;
}

.info-hover .project-name {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #02bea2;
    font-family: "Kaushan Script", cursive;
    text-transform: capitalize;
    transform: translateX(25px);
    transition: all 0.3s ease;
    opacity: 0;
}

.info-hover .link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 47px;
    width: 47px;
    color: #02bea2;
    background-color: #ffffffe1;
    text-align: center;
    border-radius: 50%;
    transition: all 400ms ease;
    opacity: 0;
}

.link .icon {
    line-height: 47px;
    font-size: 18px;
}

.link:hover {
    background-color: #02bea2;
    color: #fff;
}

.project-preview:hover .info-hover .field{
    transform: translateX(0px);
    opacity: 1;
}

.project-preview:hover .info-hover .project-name{
    transform: translateX(0px);
    opacity: 1;
}

.project-preview:hover .info-hover .link{
    opacity: 1;
}











@media screen and (max-width: 1450px) {

    #portfolio .portfolio-title {
        font-size: 34px;
    }

    #portfolio .portfolio-text {
        font-size: 17px;
        margin: 18px auto 0;
        line-height: 25px;
        max-width: 600px;
    }


    .project-filter {
        margin-top: 50px;
    }



    .project {
        grid-template-columns: repeat(auto-fit, minmax(240px, 320px));
        width: 1000px;
        gap: 20px;
    }

    .project-box {
        height: 250px;
    }






    .project-title {
        font-size: 19px;
        margin-top: 8px;
    }

    .project-box .project-tools {
        margin-top: 12px;
    }
}