
#services {
    height: 100%;
    background-color: #fffffe;
    padding: 100px 0 ;
}


#services .services-title {
    color: #525363;
    font-size: 37px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.services-title span {
    color: #00A78E;
}

#services .services-text {
    color: #525363;
    font-size: 18px;
    margin: 25px auto 0;
    text-align: center;
    font-family: 'Ubuntu',  sans-serif;
    line-height: 27px;
    max-width: 650px;
    font-family: 550;
}



#services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 360px));
    justify-content: center;
    gap: 30px;
    width: 1200px;
    margin: 70px auto;
}

.service-box {
    height: 340px;
    background: #fff;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    transition: 300ms ease;
    cursor: default;
    text-align: center;
    box-shadow: 0 5px 20px 1px hsla(220, 63%, 33%, 0.1);
}

.service-box:hover {
    top: -5%;
    transform: translateY(-5%) ;
}

.service-box .service-icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #02bea2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;
    transition: all 200ms ease-out 0s;
}

.service-box .service-icon::before {
    position: absolute;
    content: '';
    left: -8px;
    top: -8px;
    height: 100%;
    width: 100%;
    background: #cbf1ea;
    transition: all .3s ease-out 0s;
    transform: translateZ(-1px)
}

.service-icon .icon {
    font-size: 25px;
    color: #fff;
    transition: 200ms ease;
}



.service-box:hover {
    background-color: #02bea2;
}



.service-box:hover > .service-icon::before {
    top: 0;
    left: 0;
    border-radius: 10px;
}


.service-box:hover > .service-icon {
    background-color: #fff;
    border-radius: 10px;
}

.service-box:hover > .service-icon .icon {
    color: #02bea2;
    font-size: 23px;
}




.service-box .service-title {
    margin: 18px;
    font-size: 23px;
    line-height: 30px;
    font-weight: 550;
    color: #02bea2;
    font-family: 'Ubuntu', sans-serif;
}

.service-box .service-description {
    font-size: 16px;
    line-height: 23px;
    color: #525363;
    font-family: 'Ubuntu', sans-serif;
}


.service-box:hover > .service-content .service-title , 
.service-box:hover > .service-content .service-description {
    color: #fff;
}










@media screen and (max-width: 1450px) {

    #services .services-title {
        font-size: 34px;
    }

    #services .services-text {
        font-size: 17px;
        margin: 18px auto 0;
        line-height: 25px;
        max-width: 600px;
    }


    #services .services-container {
        grid-template-columns: repeat(auto-fit, minmax(320px, 320px));
        width: 1000px;
        gap: 20px;
    }

    .service-box {
        height: 300px;
        padding: 30px 15px;
    }


    .service-box .service-icon {
        width: 60px;
        height: 60px;
        margin-bottom: 15px;
    }

    .service-icon .icon {
        font-size: 23px;
    }


    .service-box .service-title {
        margin: 15px;
        font-size: 22px;
    }

    .service-box .service-description {
        font-size: 14px;
    }
}